.welcome {
  min-height: 100vh;
  display: flex;
  text-align: center;
}

.welcome div {
  width: 600px;
  margin: auto;
}

.welcome div h1 {
  font-size: 140px;
  text-transform: uppercase;
  margin: 0;
  line-height: 100%;
  vertical-align: baseline;
}
