.welcome {
  min-height: 100vh;
}

.welcome div {
  width: 100%;
  margin: auto;
}

.welcome div h1 {
  font-size: 140px;
  margin: 0;
  line-height: 100%;
  vertical-align: baseline;
}

.welcome div p {
  line-height: 3rem;
}
