.active,
.blank,
.undefined {
    height: 2rem;
    width: 2rem;
}

.visual {
    border-color: #AFAD25;
}

.events {
    border-color: #FF622D;
}

.ideas {
    border-color: #F9ED32;

}
.writing {
    border-color: #12058F;
}

.active {
    border-radius: 50%;
    border-width: 0.2rem;
    border-style: solid;    
}