.active,
.blank,
.undefined {
  height: 2rem;
  width: 2rem;
}

.active {
  border-radius: 50%;
  border-width: 0.2rem;
  border-style: solid;
}

.blank:first-child {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.blank:last-child,
.undefined:last-child {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
