.line {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-flow: column;
  text-align: center;
  width: 3.5rem;
  margin: 5rem 3.5rem 0 0;
}

.line:first-child {
  text-align: right;
}

.line:last-child {
  text-align: left;
}

.label {
  width: 25rem;
  margin-right: 5rem;
  margin-left: 5rem;
}