.line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 2rem;
  margin: 5rem 1rem 0 0;
}

.line:first-child {
  text-align: right;
}

.line:last-child {
  text-align: left;
}

.line div {
  width: 100%;
  height: 2rem;
}

.label {
  width: 30rem;
  margin-right: 5rem;
  margin-left: 5rem;
}

.label div {
    vertical-align: middle;
}