.line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 6.25rem;
  margin: 5rem 3.75rem 0 0;
}

.line:first-child {
  text-align: right;
}

.line:last-child {
  text-align: left;
}

.label {
  width: 25rem;
  margin-right: 5rem;
  margin-left: 5rem;
}